<div class='p-5 mt-5 bg-light rounded-1'>
  <div class='container-fluid'>
    <h1 class='display-5 mb-5 fw-bold'>Sorry! Something error</h1>
    <i class='fa-solid fa-person-digging fa-10x mb-3'></i>
    <p class='col-md-8 fs-5'>There is something error.</p>

    {{#if notFound}}
      <div class='alert alert-danger' role='alert'>
        Cannot find this URL.
      </div>
    {{/if}}

    {{#if badRequest}}
      <h3>Bad Request!</h3>
      <p>errors</p>
      <a class='btn btn-secondary btn-lg' href='{{Origin}}'>Go Back</a>
    {{/if}}

  </div>
</div>