<main>
  <div class='container d-flex justify-content-center align-items-center'>
    <div class='card align-items-center w-50' id='url-card'>
      <h2 class='card-title mt-5'>URL Shortener</h2>
      <div class='image mt-4 mb-4'>
        <img
          src='/images/url.png'
          class='card-img-top'
          alt='URL-shortener-icon'
          style='max-width: 11rem; opacity: 85%;'
        />
      </div>

      <div class='card-body'>

        {{#if isInDB}}
          <div>
            <h4>Success! Please use this link:</h4>
            <div class='mb-2'>
              <input
                type='url'
                class='form-control bg-light'
                id='urlGenerated'
                value='{{Origin}}/{{shortenID}}'
              />
            </div>
            <div class='d-flex justify-content-center'>
              <button
                id='copy-button'
                class='btn btn-primary btn-lg'
                type='button'
                style='opacity: 80%;'
                onclick='copyToClipboard()'
              >Copy</button>
            </div>
            <div class='d-flex justify-content-end mt-3 mb-3'>
              <a
                class='btn btn-secondary btn-lg'
                href='/'
                id='back-button'
              >Back</a>
            </div>

          </div>
        {{else}}
          <form
            action='/shortenUrls'
            method='POST'
            id='url-input-form'
            novalidate
          >
            <div class='mb-4'>
              <input
                type='url'
                class='form-control bg-light'
                name='urlInput'
                id='url-input'
                placeholder='Paste your URL here...'
                aria-describedby='urlPasted'
                required
              />
              <div class='valid-feedback'>
                Looks good!
              </div>
              <div class='invalid-feedback'>
                請輸入url
              </div>

            </div>
            <div class='d-flex justify-content-center'>
              <button
                id='submit-button'
                class='btn btn-outline-primary btn-lg'
                type='submit'
                style='opacity: 80%;'
              >Shorten</button>
            </div>
          </form>
        {{/if}}

      </div>
    </div>
  </div>
</main>

<script src='/javascripts/main.js'></script>