html,
body {
  margin: 0;
  padding: 0;
  background-color: #666666;
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}
#url-card {
  margin-top: 6rem;
}

#url-input,
#urlGenerated {
  min-width: 30rem;
}

#submit-button {
  padding: 0.5rem 6rem 0.5rem 6rem;
  border-radius: 0%;
}

#copy-button {
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 0%;
}

#back-button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-left: 1rem;
  border-radius: 0%;
  opacity: 80%;
}
